 .Datablock2_container{
    width: 90%;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px ;
 }

 .Datablock2_container image{
    width: 20px;
    height: 18px;
    object-fit: contain;
 }